body{
    background-color: #F8F8F8!important;
}
#profile-wrapper{
    text-align: center;
    padding-bottom: 10px;
}

#profile-pic{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
   
}
ul{
    padding:0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
   
}
.social-links ul,li{
    list-style-type: none;
    display: inline-block;
    display: flex;
    justify-content:space-around;
    
}
.education{
    background-color: aqua;
    
}
.social{
    width:40px;
    height:40px;
    border-radius: 2px;
   
}
#card-body{
    padding: 10px;
}

    
.col-md-6{
padding: 15px;

}
.col-md-12 {
   
    padding: 20px;
    
}
.col-md-9{
    padding: 20px;

}